.container__menu {
    height: 100vh;
    background-color: var(--color-dark-charcoal);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "container1"
    "container2"
    "container3";
    gap: 1rem;
}

.container__menuAddData {
    display: flex;
    grid-area: container1;
}
.container__menuTableData {
    display: flex;
    grid-area: container2;
}
.container__menuVisualizationData {
    display: flex;
    grid-area: container3;
}

.container__menu > div {
    border: 0.1rem solid var(--color-slate-gray);
    border-radius: 0.8rem;
    padding: 1rem;
}

/* .container__menuAddData {

}

.container__menuTableData {

}

.container__menuVisualizationData {

} */

@media (min-width: 1000px) {
    .container__menu {
        padding: 1rem;
        margin-left: 16rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "container1 container3"
        "container2 container3"
        ;
        gap: 1rem;
    }
}